* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.title-container {
  background-color: rgb(243, 243, 243);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px rgb(201, 201, 201);
  margin-bottom: 50px;
}

.page-title {
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
}

.section-title {
  text-align: center;
  font-weight: 300;
}

.input-container {
  margin: 0 auto;
  max-width: 700px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.input-container input,
textarea {
  margin: 20px;
  padding: 5px;
}

.add-btn {
  margin: 5px 20px;
  padding: 10px;
  background-color: #1f1f1f;
  color: rgb(243, 243, 243);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #383838;
}

.remove-btn {
  margin: 5px 20px;
  padding: 10px;
  background-color: rgb(243, 243, 243);
  color: #1f1f1f;
  border: 2px solid #1f1f1f;
  border-radius: 2px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: rgb(211, 211, 211);
}

.controller-btn-container {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.controller-btn-container button {
  margin: 5px 20px;
  padding: 10px;
  cursor: pointer;
}

#generate {
  background-color: #1f1f1f;
  color: rgb(243, 243, 243);
  border: none;
  border-radius: 2px;
}

#generate:hover {
  background-color: #383838;
}

#reset {
  background-color: rgb(243, 243, 243);
  color: #1f1f1f;
  border: 2px solid #1f1f1f;
  border-radius: 2px;
}

#reset:hover {
  background-color: rgb(211, 211, 211);
}

.cv-block-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.name-profession {
  background-color: #1f1f1f;
  color: rgb(243, 243, 243);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 50px;
}

.name-profession h2 {
  font-weight: 500;
  font-size: 28px;
}

.name-profession h3 {
  font-weight: 300;
  font-size: 18px;
}

.central-block {
  display: flex;
  border: 1px solid #1f1f1f;
  min-height: 700px;
}

.Personal-information-container {
  width: 30%;
  padding: 30px 0 20px 20px;
  background-color: rgb(211, 211, 211);
}

.title-section {
  color: #1f1f1f;
  margin-bottom: 20px;
  font-size: 18px;
}

.small-section-title {
  color: #1f1f1f;
  margin-bottom: 5px;
  font-size: 16px;
}

.Personal-information-container p {
  color: #1f1f1f;
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
}

.education-experiences-container {
  width: 70%;
}

.education-container {
  padding: 30px 0px 20px 20px;
}

.education-container .title-section {
  color: #1f1f1f;
  margin-bottom: 20px;
  font-size: 18px;
}

.education-container h3 {
  color: #1f1f1f;
  margin-bottom: 5px;
  font-size: 16px;
}

.education-container h5 {
  color: #1f1f1f;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
}

.experiences-container {
  padding: 30px 0px 20px 20px;
}

.experiences-container .title-section {
  color: #1f1f1f;
  margin-bottom: 20px;
  font-size: 18px;
}

.experiences-container h3 {
  color: #1f1f1f;
  margin-bottom: 5px;
  font-size: 16px;
}

.experiences-container h5 {
  color: #1f1f1f;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
}

.education-experience-block h5:last-of-type {
  margin-bottom: 5px;
}

.education-experience-block h5:last-of-type {
  margin-bottom: 30px;
}

.dividing-line {
  border-bottom: 1px solid #1f1f1f;
  margin: 0 20px;
  margin-bottom: 30px;
}
